
body{
background: #08665d;
background: linear-gradient(75deg,rgba(8, 102, 93, 1) 15%, rgba(23, 19, 23, 1) 88%);
  background-attachment: fixed;  /*TODO: mantiene el degradado continuo*/
    color: white;
}
.navbar{
    background-color: #000000cc;
    z-index: 2;
    & .navbar-brand{
        border: 1px solid #992E92;
        padding: 5px 8px;
        border-radius: 10px;
        width: 100px;
        height: 25px;
        font-size: 10px;
        font-weight: 400;       
    }

    & .navbar-brand:hover{
        background-color: #f557ea;
    }
    & .borde-formu{
        border: 2px solid #992E92;
        box-shadow: 0 0 5px #992E92;
        height: 30px;
        border-radius: 50px;
    }
    & .nav-link:hover{
        color: #992E92;
    }
    & .dropdown-menu{
        background-color: #992e92e8;
    }
    & .dropdown-item{
        color: white;
    }
    & .dropdown-item:hover{
        background-color: rgba(255, 255, 255, 0.404);
        color: #992E92;
    }
  }
.buscador{
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 50px;
}
.detalles-pelicula {
  position: relative; /* Necesario para que el overlay se posicione dentro */
  background-image: url(../assets/PeakyB/fondo-pb.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
}
.detalles-pelicula::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background-color: #000000e5;   /* Fondo oscuro */
  z-index: -1; /* Para que no tape el contenido del section */
}
.portada-peli:hover{
  box-shadow: -2px 4px 23px -1px rgba(1, 19, 70, 0.75);
-webkit-box-shadow: -2px 4px 23px -1px rgba(1, 19, 70, 0.75);
-moz-box-shadow: -2px 4px 23px -1px  rgba(1, 19, 70, 0.75);
}
.portada-peli{
  border: solid 1px rgba(1, 19, 70, 0.75);
  border-radius: 10px;
}
.p-directores{
    font-weight: 500;
    margin: 0;
}
 .tarjeta{
    background-color: #121212af;
    color: white;
    height: 100%;
 }
 .tarjeta:hover{
  transition: transform 0.3s ease;
  cursor: pointer;
 }
 .tarjeta:hover {
      transform: scale(1.02); /* La imagen crece un 10% */
    }
@media (min-width: 768px) {
  .contenedor-de-img{
    display: flex;
    justify-content: center;
  }
  .portada-peli{
    width: 385px;
    display: flex;
  }
  .logos-detalle{
    width: 5%;
  }
}
@media (min-width: 1024px) {
     .detalles-pelicula{
        height: 100vh;
    }
  .contenedor-de-img{
    display: flex;
    justify-content: left;
    
  }
  .portada-peli{
    width:300px;
  }
  .logos-detalle{
    width: 5%;
  }
  .boton-trailer{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .contenedor-Cards{
    margin-top: 30px;
  }
  .compartir{
    margin: 10PX 5PX ;
  }

}
