
*{
      font-family: "Inter", sans-serif;
      color: white;

}
body{
    background-color: #121212;
    
}


.planes {
  background: url("../assets/img/megan.webp") no-repeat center center ;
    background-size: cover;
  background-position: left; 
  min-height: 100vh;
}
.suscribirme{
        background-color: #BF160A;
        & a{
            text-decoration: none;
            color: white;
           
        }
}
.card-violeta{
    background-color: #380858de ;
}

.modal-header .btn-close{
  background-color: aliceblue;

}
.modal-footer{
  & a {
    color: white;
    text-decoration: none;
  }
}
.form-control{
  background-color: #416fc388;
}
.modal-planes{
  background-color: #000000be;
  padding: 10px;
}
@media (min-width: 768px) {
  h3 {
    font-size:45px ; /* en pantallas md hacia arriba */
  }
  .ver-planes{
    width: 200px;
    height: 50px;
  }
  .planes{
    background-position: center;
  }
}
@media (min-width: 1024px) {
      h3 {
    font-size:35px ; /* en pantallas md hacia arriba */
  }
    .ver-planes{
    width: 150px;
    height: 40px;
  }
  
}
