body{
    background-color: #121212;
    color: white;
}
main{
    min-height: 100vh;
}
.color-fondo{
  background-color: #00000059;
}
.navegacion ul {
    list-style: none;
    padding: 0;
    & a {
        color: white;
    }
}
@media (min-width: 768px) {
  .logo-e-film{
    width: 150px;
  }
}