
main{
    min-height: 100vh;
}
.navegacion ul {
    list-style: none;
    padding: 0;
    & a {
        color: white;
    }
}
@media (min-width: 768px) {
  .logo-e-film{
    width: 150px;
  }
}

 /*banner-suscripcion*/
*{
      font-family: "Inter", sans-serif;
      color: white;

}
body{
    background-color: #121212;
    color: white;
}
.banner-suscripcion{
    background-image: linear-gradient(to right top, #1b0728, #290e40, #3a1259, #4c1573, #5f178e);
    height: 40vh;
    & h3{
     
        font-weight: 500;
    }
    & .ver-planes{
        background-color: #BF160A;
        & a{
          color: white;
            text-decoration: none;
            
        }
        
    }
}
/* Todo header */
header{
  background-image: url("/assets/img/fondonav.webp");
  background-size: cover; 
  background-position: center; 
  height: 500px; 
  position: relative;

}
.navbar{
    background-color: #000000cc;
    z-index: 2;
    & .navbar-brand{
        border: 1px solid #992E92;
        padding: 5px 8px;
        border-radius: 10px;
        width: 100px;
        height: 25px;
        font-size: 10px;
        font-weight: 400;       
    }


    & .navbar-brand:hover{
        background-color: #f557ea;
    }

    & .borde-formu{
        border: 2px solid #992E92;
        box-shadow: 0 0 5px #992E92;
        height: 30px;
        border-radius: 50px;

    }
    & .nav-link:hover{
        color: #992E92;
    }
    & .dropdown-menu{
        background-color: #992e92e8;
    }
    & .dropdown-item{
        color: white;
    }
    & .dropdown-item:hover{
        background-color: rgba(255, 255, 255, 0.404);
        color: #992E92;
    }
}
.buscador{
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 50px;
}
.overlay{
  position: absolute;
  inset: 0;
  background-color: #1b072870;
  z-index: 1;
}
/*--------------- iniciar sesion---------------------------*/
.modal-index{
    background-color: #1b0728c9;
}
.modal-contenido{
    background-color: #000000d2;
}
.modal-contentent{
    color: black;
}

