.seccion-sugeridas{
   background: #2D2C2C; 
   position: relative;
}
.carousel-item{
    height: 550px;
    padding: 15px;
    z-index: 2;
}
.carousel-item img{
    width: 200px;
    margin: 5px; 
    margin-top: 200px;
    
}
.carousel-item img:hover {
    border: 5px solid #992E92;
}


.carousel-control-prev, .carousel-control-next{
    margin-top: 200px;
    z-index: 2;
}
.overlaysugerida{
  position: absolute;
  inset: 0;
   background: linear-gradient(
    to right,
    #5e178ecb 0%,
    rgba(0, 0, 0, 0.726) 30%,
    rgba(0, 0, 0, 0.76) 70%,
    #5e178ecb 100%
  );
  z-index: 1;
}
.titulo-pelis-sugeridas{
    margin-top: 30px;
}

/*Esto le cambia el fondo a la tarjeta cuando alguna imagen dentro de ella está en hover.*/

.seccion-sugeridas:has(.img1:hover) {
    background-image: url("/assets/Sugeridas/36xXlhEpQqVVPuiZhfoQuaY4OlA.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img2:hover) {
    background-image: url("/assets/Sugeridas/6H6p82aWQFEKEuVUiZll6JxV8Ft.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img3:hover) {
    background-image: url("/assets/Sugeridas/dVsgV7ak6vR5xyXFggooJQinXBg.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img4:hover) {
    background-image: url("/assets/Sugeridas/nLTs9SNBuk3DuB8D0p3mSsPYN7J.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img5:hover) {
    background-image: url("/assets/Sugeridas/w2ARwtc1zoh0pyfwmyhpZHwuXgK.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img6:hover) {
    background-image: url("/assets/Sugeridas/ombsmhYUqR4qqOLOxAyr5V8hbyv.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img7:hover) {
    background-image: url("/assets/Sugeridas/tObSf1VzzHt9xB0csanFtb3DRjf.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img8:hover) {
    background-image: url("/assets/Sugeridas/udxkpbqBsVS4Hnrfn4HabDKKxb5.webp");
    background-size: cover; 
    background-position: center; 
}
.seccion-sugeridas:has(.img9:hover) {
    background-image: url("/assets/Sugeridas/uwvKQIjJpC37IEsEj4ZAn1ITyRy.webp");
    background-size: cover; 
    background-position:top; 
}
.seccion-sugeridas:has(.img10:hover) {
    background-image: url("/assets/Sugeridas/xeEw3eLeSFmJgXZzmF2Efww0q3s.webp");
    background-size: cover; 
    background-position: center; 
}

/*Esta parte es para que cuando ahga hover por las imagenes aparezca el titulo de cada peli*/
.descripcion-sugerida {
  color: #fff;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.seccion-sugeridas:hover .descripcion-sugerida {
  opacity: 1;
}

/* Texto dinámico según la imagen */
.seccion-sugeridas:has(.img1:hover) .descripcion-sugerida::after {
  content: "Merlina Addams, lista, sarcástica y un \A poco muerta por dentro, investiga una oleada de asesinatos mientras hace \A amigos y enemigos en la Academia Nunca Más.";
  white-space: pre-line;
}

.seccion-sugeridas:has(.img2:hover) .descripcion-sugerida::after {
  content: "La leyenda de las carreras Sonny Hayes es  convencido de salir\A de su retiro para liderar un equipo de Fórmula 1 en dificultades (y ser mentor de un joven piloto prometedor) \A mientras busca una oportunidad más de alcanzar la gloria.";
  white-space: pre-line;
}

.seccion-sugeridas:has(.img3:hover) .descripcion-sugerida::after {
  content: "Dos padres reciben una angustiosa llamada nocturna  de su hija adolescente,\A quien acaba de atropellar accidentalmente  a un peatón. Se suben a su coche a toda \Aprisa para llegar antes  de que alguien más se tope con la escena. ";
  white-space: pre-line;
}
.seccion-sugeridas:has(.img4:hover) .descripcion-sugerida::after {
  content: "Lilli sospecha del nuevo prometido de su hermana,pero cuando\A  un atractivo extraño entra  en su vida, \A de repente se distrae con las garras del deseo.";
  white-space: pre-line;
}
.seccion-sugeridas:has(.img5:hover) .descripcion-sugerida::after {
  content: "Elio, un fanático del espacio con una imaginación activa, se encuentra en una desventura \A cósmica en la que debe formar nuevos vínculos con excéntricas formas de vida alienígenas, navegar por una crisis \A de proporciones intergalácticas y, de alguna manera, descubrir quién está realmente destinado a ser.";
  white-space: pre-line;
}
.seccion-sugeridas:has(.img6:hover) .descripcion-sugerida::after {
  content: "Superman, un periodista en Metrópolis, se embarca en un\A viaje para reconciliar su herencia kryptoniana con \A su educación humana como Clark Kent.";white-space: pre-line;
}
.seccion-sugeridas:has(.img7:hover) .descripcion-sugerida::after {
  content: "Tras la muerte de su padre, un hermano  y una hermana \A conocen a su nuevo hermano gracias a su madre adoptiva, solo \A para descubrir que ella tiene un secreto aterrador.";
  white-space: pre-line;
}
.seccion-sugeridas:has(.img8:hover) .descripcion-sugerida::after {
  content: "Amanda Knox llega a Italia para estudiar en el extranjero, pero semanas\A después es encarcelada injustamente por asesinato. Sigue la lucha incansable de Knox para demostrar su inocencia\A y recuperar su libertad, y analiza por qué las autoridades y el mundo la juzgaron con tanta firmeza.";
  white-space: pre-line;
}
.seccion-sugeridas:has(.img9:hover) .descripcion-sugerida::after {
  content: "Heather es una joven que viaja por Europa con amigos antes de comenzar una vida perfectamente planificada.\A Un encuentro casual con Jack desencadena un romance inesperado que conduce a un profundo descubrimiento\A emocional. A medida que los secretos y las decisiones vitales ponen a prueba su vínculo, su camino cambia para siempre.";
  white-space: pre-line;
}
.seccion-sugeridas:has(.img10:hover) .descripcion-sugerida::after {
  content: "Xander Cage es el típico adicto a la adrenalina, sin miedo y con una actitud pésima. Cuando el \Agobierno de Estados Unidos lo 'recluta' para una misión, no le entusiasma precisamente. Su misión: recopilar\A información sobre una organización que podría estar planeando la destrucción del mundo, liderada por el nihilista Yorgi.";
  white-space: pre-line;
}